html,
body {
  background-color: #20201f !important;
}

.main-header {
  font-size: 45px !important;
}

.description {
  color: #fefefe !important;
  background: transparent !important;
  box-shadow: none !important;
  font-size: 20px !important;
  font-weight: bolder;
}

h3 {
  color: #fefefe;
  font-weight: bolder;
}

p {
  font-size: 18px;
  font-weight: bold;
  z-index: 2;
  margin: 1.5rem;
  line-height: 1.3;
}

.ui.placeholder.segment {
  border-color: transparent;
  box-shadow: none;
  background: #5f5f5b;
  border-radius: 10px;
  border: 2px solid #cecece;
}

.ui.divider {
  color: #ffbf00;
  font-style: oblique;
}

.ui.action.input:not([class*='left action']) > input:focus {
  border-right-color: transparent !important;
}

input[type='number'] {
  background: #5f5f5b !important;
  color: #fefefe !important;
  border: none !important;
  outline: none;
  text-align: center !important;
  width: 90px !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

::selection {
  background: #fbbd08; /* WebKit/Blink Browsers */
  color: #fefefe;
}
::-moz-selection {
  background: #fbbd08; /* Gecko Browsers */
  color: #fefefe;
}

input::selection,
textarea::selection {
  background: #fbbd08;
  color: #fefefe;
}

em {
  color: #fbbd08;
}

.taps-amount {
  background: transparent !important;
  border: none !important;
}

.taps-button {
  display: inline-block !important;
  width: 90px;
}

.divisor-item {
  color: #fefefe;
  font-size: 20px;
}
